{% extends "/mozorg/firefox/base.html" %}

{% block page_title %}{{ _('Firefox is Made for Your Devices') }}{% endblock %}

{% block body_id %}devices{% endblock %}

{% block site_css %}
  {{ css('landing-devices') }}
{% endblock %}

{% block site_js %}
  {{ js('landing-devices') }}
{% endblock %}

{% block content %}

<hgroup id="main-feature" class="center">
  <h1>{{ _('Firefox is Made for Your Devices') }}</h1>
</hgroup>

<nav class="menu-bar billboard slidenav">
  <ul>
    <li><a href="#speed">{{ _('Desktops &amp; Laptops') }}</a></li>
    <li><a href="#smartphones">{{ _('Smartphones') }}</a></li>
    <li><a href="#tablets">{{ _('Tablets') }}</a></li>
    <li><a href="#addons">{{ _('Favorite Add-ons') }}</a></li>
    <li><a href="#sync">{{ _('Sync Your Gadgets') }}</a></li>
  </ul>
</nav>

<div id="main">
    <nav class="slider-arrows">
      <ul role="navigation">
        <li class="prev"><a href="#" class="backward">{{ _('Previous') }}</a></li>
        <li class="next"><a href="#" class="forward">{{ _('Next') }}</a></li>
      </ul>
    </nav>

    <div id="slider">
      <div class="slide-window">

      <section class="slide" id="speed">
        <div class="content">
          <h2>{{ _('New Firefox is up to 7 times faster.') }}</h2>
          <p><a href="#" class="button">Upgrade your Firefox &raquo;</a></p>
        </div>
        
        <div id="gauge">
          <img src="{{ media('img/landing/devices/needle.png') }}" alt="" id="needle">
          <p id="gauge-slow">Old Firefox = Sadface</p>
          <p id="gauge-fast">New Firefox = Yay!</p>
          <div class="note" id="gauge-slow-note">
            <p><strong>Seriously?</strong> That just isn’t going to cut it. Stop browsing in the past and <a href="/en-US/firefox/">upgrade now!</a></p>
          </div>
          <div class="note" id="gauge-fast-note">
            <p><strong>Now we’re talking!</strong> Feels better, doesn’t it? Welcome to the future of the Web. It’s nice here.</p>
          </div>
        </div>

        <div id="non-fx">
          <p id="detected">Hey, looks like you’re using %BROWSER%. Why not grab Firefox and get up to speed?</p>
          <p id="notdetected">Hey, looks like you’re not using Firefox as your browser. Why not grab Firefox and get up to speed?</p>
        </div>
      </section>
      
      <section class="slide" id="smartphones">
        <h2>Smartphones</h2>
        <p>Firefox in your pocket!</p>
      </section>
      
      <section class="slide" id="tablets">
        <h2>Tablets</h2>
        <p>Firefox on your couch!</p>
      </section>
      
      <section class="slide" id="addons">
        <h2>Your Favorite Add-ons</h2>
        <p>Add-ons to go!</p>
      </section>
      
      <section class="slide" id="sync">
        <h2>Sync Your Gadgets</h2>
        <p>Keep your gadgets in sync!</p>
      </section>

      </div>
    </div>

</div>

    <nav class="slidenav slider-dots">
      <ul>
        <li><a href="#speed">{{ _('Desktops &amp; Laptops') }}</a></li>
        <li><a href="#smartphones">{{ _('Smartphones') }}</a></li>
        <li><a href="#tablets">{{ _('Tablets') }}</a></li>
        <li><a href="#addons">{{ _('Favorite Add-ons') }}</a></li>
        <li><a href="#sync">{{ _('Sync Your Gadgets') }}</a></li>
      </ul>
    </nav>

{% endblock %}
