{% extends "/mozorg/firefox/base.html" %}

{% block page_title %}{{ _('Firefox is Made for Your Devices') }}{% endblock %}

{% block body_id %}devices{% endblock %}

{% block site_css %}
  {{ css('landing-devices') }}
{% endblock %}

{% block site_js %}
  {{ js('landing-devices') }}
{% endblock %}

{% block content %}

<hgroup id="main-feature" class="center">
  <h1>{{ _('Firefox is Made for Your Devices') }}</h1>
</hgroup>

<nav class="menu-bar billboard slider-menu">
  <ul>
    <li><a href="#speed">{{ _('Desktops &amp; Laptops') }}</a></li>
    <li><a href="#smartphones">{{ _('Smartphones') }}</a></li>
    <li><a href="#tablets">{{ _('Tablets') }}</a></li>
    <li><a href="#addons">{{ _('Favorite Add-ons') }}</a></li>
    <li><a href="#sync">{{ _('Sync Your Gadgets') }}</a></li>
  </ul>
</nav>

<div id="main">
    <nav class="slider-arrows">
      <ul role="navigation">
        <li class="prev"><a href="#" class="backward">{{ _('Previous') }}</a></li>
        <li class="next"><a href="#" class="forward">{{ _('Next') }}</a></li>
      </ul>
    </nav>

    <div id="slider">

      <section class="slide" id="speed">
        <div class="slide-content">
          <div class="content">
            <h2>{{ _('New Firefox is up to 7 times faster.') }}</h2>
            <p><a href="#" class="button">Upgrade your Firefox &raquo;</a></p>
          </div>
          
          <div id="gauge">
            <img src="{{ media('img/landing/devices/needle.png') }}" alt="" id="needle">
            <p id="gauge-slow">Old Firefox = Sadface</p>
            <p id="gauge-fast">New Firefox = Yay!</p>
            <div class="note" id="gauge-slow-note">
              <p><strong>Seriously?</strong> That just isn’t going to cut it. Stop browsing in the past and <a href="/en-US/firefox/">upgrade now!</a></p>
            </div>
            <div class="note" id="gauge-fast-note">
              <p><strong>Now we’re talking!</strong> Feels better, doesn’t it? Welcome to the future of the Web. It’s nice here.</p>
            </div>
          </div>
  
          <div id="non-fx">
            <p id="detected">Hey, looks like you’re using %BROWSER%. Why not grab Firefox and get up to speed?</p>
            <p id="notdetected">Hey, looks like you’re not using Firefox as your browser. Why not grab Firefox and get up to speed?</p>
          </div>
        </div>
      </section>
      
      <section class="slide" id="smartphones">
        <div class="slide-content">
          <div class="content">
            <h2>Type less, browse more, and get to the Web quickly and easily.</h2>
            <p><a href="https://market.android.com/details?id=org.mozilla.firefox" class="button">Download Firefox for Android</a></p>
          </div>
          <p class="footnote">iPhone user? <a href="http://support.mozilla.org/en-US/kb/will-firefox-work-my-mobile-device?s=firefox+on+iphone&r=1&e=sph&as=s#w_firefox-home-for-iphone">Click here.</a></p>
        </div>
      </section>
      
      <section class="slide" id="tablets">
        <div class="slide-content">
          <div class="content">
            <h2>Optimized for the size, shape, and the way you browse on tablets.</h2>
            <p><a href="https://market.android.com/details?id=org.mozilla.firefox" class="button">Download Firefox for Android</a></p>
          </div>
          <p class="footnote">iPad user? <a href="http://support.mozilla.org/en-US/kb/will-firefox-work-my-mobile-device?s=firefox+on+iphone&r=1&e=sph&as=s#w_firefox-home-for-iphone">Click here.</a></p>
        </div>
      </section>
      
      <section class="slide" id="addons">
        <div class="slide-content">
          <div class="content">
            <h2>Customize your browsing on both desktop and mobile.</h2>
            <p><a href="#" class="button">Browse Add-ons &raquo;</a></p>
          </div>
          <ul class="addons">
            <li>AdBlock Plus: https://addons.mozilla.org/en-us/mobile/addon/adblock-plus/?src=hp-dl-mostpopular</li>
            <li>No Script: https://addons.mozilla.org/en-US/mobile/addon/noscript/?src=cb-dl-users</li>
            <li>Speed Dail: https://addons.mozilla.org/en-US/mobile/addon/speed-dial/?src=ss</li>
          </ul>
        </div>
      </section>
      
      <section class="slide" id="sync">
        <div class="slide-content">
          <div class="content">
            <h2>Your Web, <br>anywhere you go.</h2>
            <p><a href="http://www.mozilla.org/en-US/mobile/sync/" class="button">Get in Sync &raquo;</a></p>
          </div>
        </div>
      </section>

    </div>

</div>

    <nav class="slidenav slider-dots">
      <ul>
        <li><a href="#speed">{{ _('Desktops &amp; Laptops') }}</a></li>
        <li><a href="#smartphones">{{ _('Smartphones') }}</a></li>
        <li><a href="#tablets">{{ _('Tablets') }}</a></li>
        <li><a href="#addons">{{ _('Favorite Add-ons') }}</a></li>
        <li><a href="#sync">{{ _('Sync Your Gadgets') }}</a></li>
      </ul>
    </nav>

{% endblock %}
